<head>
  <title>Forgot Password | MovieFusion</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/fav-icon.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}" />
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %} {% endif %} {% endwith %}
  <section>
    <section id="container"></section>
    <div class="signin">
      <div class="content">
        <h2>Forgot Password</h2>
        <div class="form">
          <form action="{{ url_for('auth.forgot_password') }}" method="post">
            <div class="inputBox">
              <input type="email" name="email" required />
              <i>Email</i>
            </div>
            <div class="links" style="margin-top: 5%">
              <p>Remember Your Password?</p>
              <a href="{{ url_for('auth.login') }}">Sign In</a>
            </div>
            <div class="inputBox" style="margin-top: 5%">
              <button type="submit">
                Reset Password
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script>
    const numberOfSpans = 1000
    const container = document.getElementById('container')
    for (let i = 0; i < numberOfSpans; i++) {
      const span = document.createElement('span')
      container.appendChild(span)
    }
    setTimeout(function () {
      const alertElement = document.querySelector('.alert')
      if (alertElement) {
        alertElement.classList.add('hide')
      }
    }, 5000)
  </script>
</body>