<head>
  <title>Forgot Password | MovieFusion</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='images/fav-icon.png') }}"
  />
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/form_style.css') }}"
  />
</head>

<body>
  {% with messages = get_flashed_messages(with_categories=true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %}
  <section>
    <section id="container"></section>
    <div class="signin">
      <div class="content">
        <h2>Forgot Password</h2>
        <div class="form">
          <form
            action="{{ url_for('auth.reset_password', token=token) }}"
            method="post"
          >
            <div class="inputBox">
              <input
                type="password"
                name="new_password"
                id="new_password"
                required
              />
              <i>Password</i>
            </div>
            <div class="inputBox" style="margin-top: 5%">
              <input
                type="password"
                name="confirm_new_password"
                id="confirm_new_password"
                required
              />
              <i>Confirm Password</i>
            </div>
            <p id="passwordMatchError" style="color: e70634; display: none">
              Passwords do not match
            </p>
            <div class="inputBox" style="margin-top: 5%">
              <button type="submit">
                Reset Password {% include 'auth/submit_button.html' %}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <script>
    const numberOfSpans = 1000
    const container = document.getElementById('container')
    for (let i = 0; i < numberOfSpans; i++) {
      const span = document.createElement('span')
      container.appendChild(span)
    }
    setTimeout(function () {
      const alertElement = document.querySelector('.alert')
      if (alertElement) {
        alertElement.classList.add('hide')
      }
    }, 5000)
  </script>
  <script>
    function validatePassword() {
      var newPassword = document.getElementById('new_password').value
      var confirmNewPassword = document.getElementById(
        'confirm_new_password'
      ).value
      var errorElement = document.getElementById('passwordMatchError')
      var resetSubmitButton = document.getElementById('resetSubmit')
      var dummyResetSubmitButton = document.getElementById('dummyResetSubmit')

      if (
        newPassword !== confirmNewPassword ||
        newPassword.length === 0 ||
        confirmNewPassword.length === 0
      ) {
        errorElement.style.display = 'block'
        dummyResetSubmitButton.style.display = 'block'
        resetSubmitButton.style.display = 'none'
        dummyResetSubmitButton.style.cursor = 'not-allowed'
      } else {
        errorElement.style.display = 'none'
        resetSubmitButton.style.display = 'block'
        dummyResetSubmitButton.style.display = 'none'
        dummyResetSubmitButton.style.cursor = 'pointer'
      }
    }

    // Call validatePassword function on input change
    document
      .getElementById('confirm_new_password')
      .addEventListener('input', validatePassword)
  </script>
</body>
