{% include 'layout.html'%}

<body>
    <!--==Scroll-Progress-bar=========================-->

    <div id="progress">
        <span id="progress-value"></span>
    </div>

    <!--==Navigation===================================-->
    <nav class="navigation">
        <!--menu-btn--------------->
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="nav-icon"></span>
        </label>
        <!--logo------------------->
        <a href="{{url_for('main.index')}}" class="logo">
            Movie<span>Fusion</span>
        </a>
        <!--menu------------------->
        <ul class="menu">
            <li><a href="#">Home</a></li>
            <li><a href="#">Genre</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sign Out</a></li>
        </ul>
        <!--Search-box------------->
        <form action="" class="search-box">
            <!--input-->
            <input type="text" name="search" placeholder="Search Movie" class="search-input" required />
            <!--btn-->
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </nav>
    <!--nav-end-->
    <!--==slider============================================-->
    <section id="main-slider">
        <!-- Swiper -->
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <!--1------------------------------------------>
                <div class="swiper-slide">
                    <!--box------------------->
                    <div class="main-slider-box">
                        <!--overlayer-------->
                        <a href="#" class="main-slider-overlay">
                            <i class="fas fa-play"></i>
                        </a>
                        <!--img----------->
                        <div class="main-slider-img">
                            <img alt="Poster" src="{{ url_for('static', filename='images/p-1.jpg') }}" />
                        </div>
                        <!--text---------->
                        <div class="main-slider-text">
                            <!--quality----->
                            <span class="quality">Full HD</span>
                            <!--bottom-text-->
                            <div class="bottom-text">
                                <!--name----->
                                <div class="movie-name">
                                    <span>2014</span>
                                    <a href="#">Paranormal Activity: The Marked Ones</strong>
                                </div>
                                <!--Category-and-rating---->
                                <div class="category-rating">
                                    <!--category-->
                                    <div class="category">
                                        <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                                    </div>
                                    <!--rating--->
                                    <div class="rating">
                                        5.2 <img alt="imbd"
                                            src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--2------------------------------------------>
                <div class="swiper-slide">
                    <!--box------------------->
                    <div class="main-slider-box">
                        <!--overlayer-------->
                        <a href="movie-page.html" class="main-slider-overlay">
                            <i class="fas fa-play"></i>
                        </a>
                        <!--img----------->
                        <div class="main-slider-img">
                            <img alt="Poster" src="{{ url_for('static', filename='images/p-2.jpg') }}" />
                        </div>
                        <!--text---------->
                        <div class="main-slider-text">
                            <!--quality----->
                            <span class="quality">Full HD</span>
                            <!--bottom-text-->
                            <div class="bottom-text">
                                <!--name----->
                                <div class="movie-name">
                                    <span>2017</span>
                                    <a href="movie-page.html">Pirates of the Caribbean: Salazar's Revenge</a>
                                </div>
                                <!--Category-and-rating---->
                                <div class="category-rating">
                                    <!--category-->
                                    <div class="category">
                                        <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                                    </div>
                                    <!--rating--->
                                    <div class="rating">
                                        5.2 <img alt="imbd"
                                            src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--3------------------------------------------>
                <div class="swiper-slide">
                    <!--box------------------->
                    <div class="main-slider-box">
                        <!--overlayer-------->
                        <a href="#" class="main-slider-overlay">
                            <i class="fas fa-play"></i>
                        </a>
                        <!--img----------->
                        <div class="main-slider-img">
                            <img alt="Poster" src="{{ url_for('static', filename='images/p-3.jpg') }}" />
                        </div>
                        <!--text---------->
                        <div class="main-slider-text">
                            <!--quality----->
                            <span class="quality">Full HD</span>
                            <!--bottom-text-->
                            <div class="bottom-text">
                                <!--name----->
                                <div class="movie-name">
                                    <span>2020</span>
                                    <a href="#">BloodShot</a>
                                </div>
                                <!--Category-and-rating---->
                                <div class="category-rating">
                                    <!--category-->
                                    <div class="category">
                                        <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                                    </div>
                                    <!--rating--->
                                    <div class="rating">
                                        5.2 <img alt="imbd"
                                            src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--4------------------------------------------>
                <div class="swiper-slide">
                    <!--box------------------->
                    <div class="main-slider-box">
                        <!--overlayer-------->
                        <a href="#" class="main-slider-overlay">
                            <i class="fas fa-play"></i>
                        </a>
                        <!--img----------->
                        <div class="main-slider-img">
                            <img alt="Poster" src="{{ url_for('static', filename='images/p-4.jpg') }}" />
                        </div>
                        <!--text---------->
                        <div class="main-slider-text">
                            <!--quality----->
                            <span class="quality">Full HD</span>
                            <!--bottom-text-->
                            <div class="bottom-text">
                                <!--name----->
                                <div class="movie-name">
                                    <span>2021</span>
                                    <a href="#">Venom: Let There Be Carnage</a>
                                </div>
                                <!--Category-and-rating---->
                                <div class="category-rating">
                                    <!--category-->
                                    <div class="category">
                                        <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                                    </div>
                                    <!--rating--->
                                    <div class="rating">
                                        5.2 <img alt="imbd"
                                            src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--5------------------------------------------>
                <div class="swiper-slide">
                    <!--box------------------->
                    <div class="main-slider-box">
                        <!--overlayer-------->
                        <a href="#" class="main-slider-overlay">
                            <i class="fas fa-play"></i>
                        </a>
                        <!--img----------->
                        <div class="main-slider-img">
                            <img alt="Poster" src="{{ url_for('static', filename='images/p-5.jpg') }}" />
                        </div>
                        <!--text---------->
                        <div class="main-slider-text">
                            <!--quality----->
                            <span class="quality">Full HD</span>
                            <!--bottom-text-->
                            <div class="bottom-text">
                                <!--name----->
                                <div class="movie-name">
                                    <span>2018</span>
                                    <a href="#">Deadpool 2</a>
                                </div>
                                <!--Category-and-rating---->
                                <div class="category-rating">
                                    <!--category-->
                                    <div class="category">
                                        <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                                    </div>
                                    <!--rating--->
                                    <div class="rating">
                                        5.2 <img alt="imbd"
                                            src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--6------------------------------------------>
                <div class="swiper-slide">
                    <!--box------------------->
                    <div class="main-slider-box">
                        <!--overlayer-------->
                        <a href="#" class="main-slider-overlay">
                            <i class="fas fa-play"></i>
                        </a>
                        <!--img----------->
                        <div class="main-slider-img">
                            <img alt="Poster" src="{{ url_for('static', filename='images/p-6.jpg') }}" />
                        </div>
                        <!--text---------->
                        <div class="main-slider-text">
                            <!--quality----->
                            <span class="quality">Full HD</span>
                            <!--bottom-text-->
                            <div class="bottom-text">
                                <!--name----->
                                <div class="movie-name">
                                    <span>2021</span>
                                    <a href="#">Black Widow</a>
                                </div>
                                <!--Category-and-rating---->
                                <div class="category-rating">
                                    <!--category-->
                                    <div class="category">
                                        <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                                    </div>
                                    <!--rating--->
                                    <div class="rating">
                                        5.2 <img alt="imbd"
                                            src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!--btns-------------------->
    <div class="slider-btns">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
    <!--slider-end-------->
    <!--==Latest-Movies==================================-->
    <section id="latest">
        <!--heading-------->
        <div class="latest-heading">
            <h1>Latest Movies</h1>
        </div>
        <!--container------->
        <div class="post-container">
            <!--post-box-1------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-1.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Venom: Let There Be Carnage</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-2------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-2.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">The Tomorrow War</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-3------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-3.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Jungle Cruise</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-4------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-4.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Dune</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-5------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-5.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">The Suicide Squad</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-6------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-6.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">No Time To Die</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-7------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-7.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Old</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-8------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-8.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Rumble</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-9------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-9.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">WandaVision</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-10------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-10.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Prisoners of the Ghostland (2021)</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-11------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-11.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Luca</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--post-box-12------------>
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="{{ url_for('static', filename='images/post-12.jpg') }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>2021</span>
                            <a href="#">Annette</a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                <a href="#">Horror</a>,<a href="#">Mistery</a>,<a href="#">Thriller</a>
                            </div>
                            <!--rating--->
                            <div class="rating">
                                5.2 <img alt="imbd" src="{{ url_for('static', filename='images/IMDb-icon.png') }}" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--container-end--->
        <!--page-number=====================-->
        <div class="page-number">
            <a href="#" class="page-active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            ....
            <a href="#">100</a>
        </div>
    </section>
    <!--latest-post-end------->
    <!--==footer==============================-->
    <footer>
        <!--footer-logo--->
        <a href="{{url_for('main.index')}}" class="logo">
            Movie<span>Fusion</span>
        </a>
    </footer>
    <!--==JS-Swiper====================================-->
    <script src="{{ url_for('static', filename='js/swiper-bundle.min.js') }}"></script>
    <!--==jQuery=======================================-->
    <script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>

    <script>
        /*==scroll-progress-bar======================*/
        let scrollPrecentage = () => {
            let scrollProgress = document.getElementById("progress");
            let progressValue = document.getElementById("progress-value");
            let pos = document.documentElement.scrollTop;
            let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round(pos * 100 / calcHeight);
            scrollProgress.style.background = `conic-gradient(#e70634 ${scrollValue}%, #2b2f38 ${scrollValue}%)`;
        }
        window.onscroll = scrollPrecentage;
        window.onload = scrollPrecentage;
        /*Initialize Swiper*/
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 2,
                    spaceBetween: 40,
                },
                1024: {
                    slidesPerView: 3,
                    spaceBetween: 50,
                },
            },
        });
        /*--menu-btn-fixed-when-scroll============*/
        $(window).scroll(function () {
            if ($(document).scrollTop() > 20) {
                $('.navigation').addClass('fix-icon');
            }
            else {
                $('.navigation').removeClass('fix-icon');
            }
        });
    </script>
</body>