{% include 'layout.html'%}
<title>{{ movie['title']}}</title>

<body>
    <!--==Scroll-Progress-bar=========================-->
    <div id="progress">
        <span id="progress-value"></span>
    </div>
    <!--==Navigation===================================-->
    <nav class="navigation">
        <!--menu-btn--------------->
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label for="menu-btn" class="menu-icon">
            <span class="nav-icon"></span>
        </label>
        <!--logo------------------->
        <a href="{{ url_for('main.index') }}" class="logo">
            Movie<span>Fusion</span>
        </a>
        <!--menu------------------->
        <ul class="menu">
            <li><a href="{{url_for('main.index')}}">Home</a></li>
            <li><a href="#">Genre</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Sign Out</a></li>
        </ul>
        <!--Search-box------------->
        <form action="" class="search-box">
            <!--input-->
            <input type="text" name="search" placeholder="Search Movie" class="search-input" required />
            <!--btn-->
            <button type="submit">
                <i class="fas fa-search"></i>
            </button>
        </form>
    </nav>
    <!--nav-end-->
    <!--==Movie-Banner=========================================-->
    <section class="movie-banner">
        <!--==img==================================-->
        <div class="m-banner-img">
            <img alt="" src="https://media.themoviedb.org/t/p/w780{{movie['backdrop_path']}}">
        </div>
        <!--content================================-->
        <div class="banner-container">
            <!--title-container*******************----->
            <div class="title-container">
                <!--title-top===============-->
                <div class="title-top">
                    <!--title----->
                    <div class="movie-title">
                        <h1>{{movie['title']}}</h1>
                    </div>
                    <!--more-about-movie-->
                    <div class="more-about-movie">
                        <span class="quality">Full HD</span>
                        <div class="rating">
                            {{ '%.1f' % movie['vote_average']}}
                            <img alt="tmbd"
                                src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg" />
                        </div>
                        <span>{{movie['release']}}</span>
                        {% if movie['runtime'] < 60 %} <span>
                            {{ movie['runtime'] }}min
                            </span>
                            {% else %}
                            <span>
                                {{ movie['runtime'] // 60 }}h {{ movie['runtime'] % 60 }}min
                            </span>
                            {% endif %}
                    </div>
                    <!--language--------->
                    <div class="language">
                        <span>English</span>
                    </div>
                </div>
                <!--Title-botttom==========================-->
                <div class="title-bottom">
                    <!--category------->
                    <div class="category">
                        <strong>Category</strong><br />
                        {% if movie['genres'] %}
                        {% for genre in movie['genres']%}
                        <a href="{{url_for('category.category', genre_name=genre['name']|url_slug)}}">{{ genre['name']
                            }}</a>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <!--trailer-btn---->
                    <a href="{{movie['trailer']}}" class="watch-btn">Watch Trailer</a>
                </div>
            </div>
            <!--play-btn******************************--->
            <div class="play-btn-container">
                <div class="play-btn">
                    <a href="javascript:void">
                        <i class="fas fa-play"></i>
                    </a>
                </div>
            </div>
            <!--Video/full-Movie***************************-->
            <div id="play" class="play">
                <!--close-btn--->
                <a href="javascript:void" class="close-movie">
                    <i class="fas fa-times"></i>
                </a>
                <!--movie------->
                <div class="play-movie">
                    <video id="m-video" controls>
                        <source
                            src="{{ url_for('static', filename='movie-data/Pirates-of-the-Caribbean-Salazar\'s-Revenge/Movie.mp4') }}"
                            type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
    </section>
    <!--Banner-end------------->
    <!--details=====================================-->
    <section class="movie-details">
        <strong>{{movie['title']}}</strong>
        <p>
            {{movie['overview']}}
        </p>
    </section>

    <!--== Recommended-Movies =========================================-->
    <section id="latest">
        <!--heading-------->
        <div class="latest-heading" style="text-align: center;">
            <h1>You may also like</h1>
        </div>
        <!--container------->
        <div class="post-container">
            {% for movie in recommended_movie %}
            <div class="post-box">
                <!--img-->
                <div class="post-img">
                    <img alt="" src="http://image.tmdb.org/t/p/w780{{ movie['poster_path'] }}" />
                </div>
                <!--text---------->
                <div class="main-slider-text">
                    <!--quality----->
                    <span class="quality">Full HD</span>
                    <!--bottom-text-->
                    <div class="bottom-text">
                        <!--name----->
                        <div class="movie-name">
                            <span>{{ movie['release_year'] }}</span>
                            <a href="{{ url_for('movie.movie', movie_name=movie['title']|url_slug) }}">
                                {{movie['title']}}
                            </a>
                        </div>
                        <!--Category-and-rating---->
                        <div class="category-rating">
                            <!--category-->
                            <div class="category">
                                {% if movie.get('genres') %}
                                {% for genre in movie['genres']%}
                                <a href="{{url_for('category.category', genre_name=genre['name']|url_slug)}}">{{
                                    genre['name']
                                    }}</a>
                                {% endfor %}
                                {% endif %}
                            </div>
                            <!--rating--->
                            <div class="rating">
                                {{ '%.1f' % movie['vote_average'] }}
                                <img alt="tmbd"
                                    src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_1-5bdc75aaebeb75dc7ae79426ddd9be3b2be1e342510f8202baf6bffa71d7f5c4.svg" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!--container-end--->
        <!--page-number=====================-->
        <div class="page-number">
            <a href="#" class="page-active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            ....
            <a href="#">100</a>
        </div>
    </section>


    <!--==footer==============================-->
    <footer>
        <!--footer-logo--->
        <a href="{{ url_for('main.index') }}" class="logo">
            Movie<span>Fusion</span>
        </a>
    </footer>
    <!--==jQuery=======================================-->
    <script src="{{ url_for('static', filename='js/jQuery.js') }}"></script>
    <script>
        /*==scroll-progress-bar======================*/
        let scrollPrecentage = () => {
            let scrollProgress = document.getElementById("progress");
            let pos = document.documentElement.scrollTop;
            let calcHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
            let scrollValue = Math.round(pos * 100 / calcHeight);
            scrollProgress.style.width = scrollValue + "%";
        }
        window.onscroll = scrollPrecentage;
        window.onload = scrollPrecentage;
        /*--menu-btn-fixed-when-scroll============*/
        $(window).scroll(function () {
            if ($(document).scrollTop() > 20) {
                $('.navigation').addClass('fix-icon');
            }
            else {
                $('.navigation').removeClass('fix-icon');
            }
        });

        /*==popup-open==================================*/
        $(document).on('click', '.play-btn a', function () {
            $('.play').addClass('active-popup');
        });
        /*==popup-Close==================================*/
        $(document).on('click', '.close-movie', function () {
            $('.play').removeClass('active-popup');
        });


        window.onload = function () {
            var closeButton = document.querySelector('.close-movie');
            closeButton.addEventListener('click', function () {
                var iframe = document.querySelector('.play-movie iframe');
                var videoSrc = iframe.src;
                iframe.src = ''; // This line stops the video
                iframe.src = videoSrc;
                document.getElementById('play').style.display = 'none';
            });
        };

        $(document).ready(function () {
            // Variable to store the current video time
            var currentTime = 0;

            // Play the video when the popup opens
            $('.play-btn a').on('click', function () {
                var video = $('#m-video').get(0);
                if (video) {
                    // Set the current time to where it was left off
                    video.currentTime = currentTime;
                    video.play();
                }
            });

            // Pause the video and save the current time when the popup closes
            $('.close-movie').on('click', function () {
                var video = $('#m-video').get(0);
                if (video) {
                    // Save the current time
                    currentTime = video.currentTime;
                    video.pause();
                }
            });
        });


    </script>
</body>